<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>

        <button ion-button clear icon-only   *ngIf="hideMe"  (click)="BackCat()" style="z-index: 100">
            <ion-icon ios="ios-arrow-back" md="md-arrow-back"></ion-icon>
        </button>
        <ion-title>
            <!-- Favorite -->お気に入り</ion-title>

    </ion-navbar>
    <div>
        <ion-segment [(ngModel)]="pet" class="bg-none">
            <ion-segment-button value="kittens">
                <span class="text-trans-initial fs-16">
                    <!-- Saved photos -->保存した写真</span>
            </ion-segment-button>
            <ion-segment-button value="puppies">
                <span class="text-trans-initial fs-16">
                    <!-- By category -->カテゴリ別</span>
            </ion-segment-button>
        </ion-segment>
    </div>
</ion-header>


<ion-content>



    <div [ngSwitch]="pet" style="padding-top:5px;">
        <ion-list *ngSwitchCase="'kittens'">
            <ion-row style="    padding: 0px 5px;">
                <ion-col col-4 *ngFor="let post of posts">
                    <img [src]="post.raw_file_name" class="fav-image" (click)="GotoSelectCate(post)" />
                </ion-col>
            </ion-row>
        </ion-list>


        <ion-list *ngSwitchCase="'puppies'">

            <div *ngIf="!hideMe">
                <ion-row style="padding: 0px 5px;">
                    <ion-col col-4 class="flex-center" *ngFor="let cat of categories; let i = index">
                        <div class="card-tiles" *ngIf="cat.del_flag==0">
                        <img [src]="imageurl[cat.id-1]" class="image-ti" (click)="SelectCat(cat.id, cat.category_name)" />
                        <p text-center class="mar-auto fs-10">{{cat.category_name}}</p>
                        </div>
                    </ion-col>
                </ion-row>
            </div>

            <div *ngIf="hideMe">
                <!--<ion-row style="padding: 0px 5px;">-->
                    <!--<ion-col>-->
                        <!--<button color="white" ion-button block (click)="hideMe = false;">-->
                            <!--Back to Category-->
                        <!--</button>-->
                    <!--</ion-col>-->
                <!--</ion-row>-->
                <ion-row style="padding: 0px 5px;">
                    <ion-col col-4 class="flex-center">
                        <div class="card-tiles">
                            <img [src]="imageurl[currentCatId-1]" class="image-ti" (click)="BackCat()" />
                            <p text-center class="mar-auto fs-10">{{currentCatName}}</p>
                        </div>
                    </ion-col>
                    <ion-col col-8>
                        <h5 class="mar-auto lh-100">{{currentCatName}}</h5>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let post of postsbycat;" style="    padding: 0px 5px;">
                    <ion-col col-4>
                        <img [src]="post.raw_file_name" class="fav-image" (click)="GotoSelectCate(post)" />
                    </ion-col>
                </ion-row>

            </div>
        </ion-list>
    </div>

</ion-content>