page-selectcatcity {

	 .text-center {
    text-align: center;
  }

  .marg-top {
    margin-top: 50px;
  }

  .center-div {
    margin: 0 auto;
    width: 250px;
    margin-top: 10px;
  }

  .inp-box {
    border-radius: 6px;
    height: 35px;
    width: 100%;
  }

  .mar-se{
        margin: 10px 0px !important;
  }

  .pad-100{
        padding-top: 100px !important;
  }

  .select-cat{
    min-height: 3rem !important;
    border-radius: 6px !important;
    font-weight: 500 !important;
    margin: 12px 0px !important;
  }

  .txt-color-home {
    color: white;
  }

  .fnt-size-18 {
    font-size: 18px
  }

  .pad-10 {
    padding: 10px;
  }

  .marg-0 {
    margin: 0px;
  }

  .marg-2 {
    margin: 2px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .width-80 {
    width: 80px
  }

  .marg-top-30 {
    margin-top: 30px;
  }

  .width-100per {
    width: 100%;
  }

  .btn-cloud {
    background: #1ceebf;
  }

  .app_color {
    background: linear-gradient(#5b7fbf, #b6d8ec);
  }

  .margi-10 {
    margin: 10px;
  }

  .sel-box{
      border-radius: 6px;
      height: 35px;
      width: 100%;
      background: #fff !important;
      max-width: 100% !important;
      
  }
  
}
