<!--
  Generated template for the NoticeuserviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>アプリからのお知らせ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-row  >
	     		<ion-col col-2 class="flex-center">
				    <ion-avatar item-start class="">
				       <img src="assets/imgs/userse.png" class="img-avtar mar-auto" />
				    </ion-avatar>
				</ion-col>
				<ion-col col-10>
				    <p class="fs-12">{{notice.username}}
				    	<ion-note class="fs-14 pad-right float-right text-black">{{notice.reg_date}}
		
				    	</ion-note>
				    </p> 
				</ion-col>
		</ion-row>
		<div class="pad-30-0">
			<p class="fs-14 mar-auto text-justify">
					    	{{notice.content}}
		</div>
	    <br><br>
	    <ion-row class="row">
		    <ion-col class="col" text-center="">
		    	<button class="btn-blueq fs-20 " (click)="backPage()">戻る</button>
		    </ion-col>
    	</ion-row>

</ion-content>
